// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
  background-color: #e9ecef;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.page {
  height: 100vh;
}
.logo-link {  
  color: #495057;
  font-size: 2.1rem;
  font-weight: 300;
  text-align: center; 
}

/////////////////////////////////////////////

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
/////////////////////////////////////////////////////////

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-bottom: 20px;
  position: relative;
  color: #fff!important;
  overflow: hidden;
  transition: all 500ms;
}

.small-box .icon { 
  position: absolute;
  right: 15px;
  top: 15px;
}

.small-box>.small-box-footer {
  background-color: rgba(0,0,0,.1);
  color: rgba(255,255,255,.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  
  &:hover {
    transform: scale(1.1);
  }
}

